h1 {
  font-family: Helvetica;
  text-align: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery-item {
  flex: 0 0 calc(33.333% - 10px);
}

.gallery-image {
  width: 100%;
  height: 300px;
  transition: .3s;
  object-fit: cover;
  cursor: pointer;
}

.gallery-image:hover {
  transform: scale(1.1);
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
}